// process.container = 'staphb/samtools:1.15'
// docker.enabled = true

params {
  input = "https://ga4gh-ismb-tutorial-2022.s3.us-east-2.amazonaws.com/data/1000genomes/cram/lowcov/HG00118.lowcoverage.downsampled.cram"
}

process.container = 'staphb/samtools:1.15' // Container slug. Stable releases should specify release tag!

includeConfig 'test.config'

profiles {
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
  }
}